.single-player-form-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.single-player-game-form {
  display: flex;
  flex-direction: column;
}

.single-player-container {
  min-height: 80vh;
  min-width: 60vw;
  position: relative;
}
