.player-action-group {
  display: flex;
  justify-content: center;
}

.player-action-buttons {
  padding: 20px 40px;
  margin: 0 40px;
  font-size: 16px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.player-action-buttons:hover {
  color: #000;
  background-color: #d3d3d3;
}
